:root {
    color: black;
    background-color: #F2E0D1;
}

.main-header h1 {

}

.main-header nav {

}

.sub-header {
    background-color: #b6a8f5;
}

.sub-header{

}

.about-me {

}

.work {

}

.main-work {

}

.small-work {

}

.contact-me {

}

.contact-me h2 {

}

.contact-me nav {
    
}