*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    
}

body{
    font-family: sans-serif;
    background-color: lightgray;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
}
h1{
    font-weight: 800;
    font-size: 3.6rem;
}

h2 {
    font-weight:800;
    font-size: 2.4rem;
}

h1, h2, p{
    margin: 1.6rem 0;
}

img{
    width: 100%;
    height: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}

/* Hero Section */
header{
    height:100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}

.main-header h1 {
    font-size: 3.2rem;
    color: black;
    margin: 0;
}

.main-header nav {
    padding: 2%, 8%;
    display: flex;
    justify-content: space-between;
    float: right;
    text-align: right;
}

nav ul {
    list-style-type: none;

}

nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a:hover{
    color: green;
    transition: .5s ease-in-out;
}

.main-header{
    width: 50%;
    position: relative;
    top: 16%;
    left:8%
}
.sub-header{
    display: flex;
    width: fill;
    position: relative;
    color: black;
    background-color: none;
    background-image: url(./images/bg.jpg);
}

.about-me{
    display: flex;
}
.about-me img {
width: 10%;
height: auto;
padding: 10px;
}

.about-me p{
    font-size: large;
    padding: 5%;
    margin: 5%;
}

/* work section */
.work {
    display: flex;
}

.row1{
    flex-basis: 100%;
    padding: 1.6rem;
}

.row2, .row3{
    flex-basis: 50%;
    padding: 1.6rem;
}




@media only screen and (max-width:768px){
    nav{
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        top: 18px;
        right: 32px;
    }
    nav ul li {
        padding:2% 0;
    }
    nav ul li a{
        color: black;
        display: block;
    }
    .work{
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
    }
}
